body {
  color: #111;
  font-family: "Crimson Text", serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.7;
  margin: 40px auto;
  max-width: 650px;
  padding: 0 20px;
}

h1,h2,h3 {
  line-height:1.2;
  font-family: "Inter", sans-serif;
  font-weight: 700;
} 

h1 {
  font-size: 46px;
}

@media screen and (max-width: 63.99875em) {
    h1 {
        font-size:32px;
    }
}

h2 {
  font-size: 26px;
}

@media screen and (max-width: 63.99875em) {
    h2 {
        font-size:24px;
    }
}

header {
  margin-bottom: 2.5rem;
}

header > h1 {
  font-family: "Crimson Text", serif;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

/* underline links */
a {
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #FEF5DF 0%, #FEF5DF 100%);
  background-repeat: no-repeat;
  background-size: 100% 0;
  background-position: 0 111%;
  padding: 2px 2px 0px 0;
  border-bottom: 2px solid #E2DDCA;
  transition: background-size 0.25s ease-in, border-bottom-color 0.3s ease;
}

/* do a cool highlight on link hover */
a:hover {
  background-size: 100% 88%;
  cursor: pointer;
  border-bottom-color: #f8cd5f;
}

/* keyboard focus states for accessibility */
a:focus {
  outline: 2px solid #f8cd5f;
  outline-offset: 2px;
  background-size: 100% 88%;
  border-bottom-color: #f8cd5f;
}

a:focus:not(:focus-visible) {
  outline: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 21px;
    line-height: 165%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

/* drop case first letter in an article */
article>p:first-child::first-letter {
    font-size: 60px;
    line-height: 58px;
    float: left;
    padding-right: 8px;
    padding-top: 4px;
}

/* menu */
nav ul {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: flex;
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav li:first-child {
  flex: 1 auto;
}

nav li h1 {
  font-family: "Crimson Text";
  display: flex;
  margin: 0;
}

blockquote {
    border-left: 2px solid #EDEADE;
    margin: 32px 0 40px 0;
    padding-left: 30px;
}

blockquote p {
    display: inline;
    background: #fef5df;
    line-height: 1.85;
    padding: 2px 4px;
}
